@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --background-dark-color: #0d0613;
  --background-light-color: #E5E5E5;
  --navbar-background-color: #50C878;
  --action-background-color: #F28C28;
  --text-light-color: #333333;
  --text-dark-color: #0d0613;
  --text-muted-color: #757575;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--background-dark-color);
  max-width: 1200px;
  margin: 0 auto;
}


nav {
  background-color: var(--navbar-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

a {
  text-decoration: none;
}

.brand img {
  width: 30px;
  scale: 1;
  margin-right: 5px;
}

.brand a {
  color: var(--text-light-color);
  font-size: 24px;
  font-weight: bold;
}

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  margin-right: 20px;
}

.menu li:last-child {
  margin-right: 0;
}

.menu a {
  color: var(--text-light-color);
  font-size: 16px;
  font-weight: 500;
}

.menu a:hover {
  color: #FFF;
  background-color: rgba();
}

.action a {
  background-color: var(--action-background-color);
  border-radius: 5px;
  color: var(--text-light-color);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  text-decoration: none;
  margin: 10px;
}

.menu-wrapper {
  display: flex;
  justify-content: space-between;
}

.mobile-menu-button {
  display: none;
  cursor: pointer;
  width: 30px;
  height: 20px;
  border: none;
  background-color: transparent;
  position: relative;
  padding: 0;
}

.mobile-menu-button::before,
.mobile-menu-button::after,
.mobile-menu-button:nth-child(2) {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  position: absolute;
  left: 0;
}

.mobile-menu-button::before {
  top: 0;
}

.mobile-menu-button::after {
  bottom: 0;
}

.mobile-menu-button:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}

.hero {
  background-color: var(--background-light-color);
  padding: 80px 20px;
  text-align: center;
}

.hero h1 {
  color: var(--text-dark-color);
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero-action {
  margin-top: 25px;
}

.recipe-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin: 0 auto;
  max-width: 1200px;
}

.recipe-card {
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.recipe-card img {
  max-width: 100%;
  height: auto;
}

.recipe-card h2 {
  color: var(--text-dark-color);
  font-size: 24px;
  font-weight: 500;
  margin: 20px 0 10px;
}

.recipe-card p {
  color: var(--text-muted-color);
  font-size: 16px;
  line-height: 1.5;
  margin: 0 20px 20px;
}

.recipe-card a {
  background-color: var(--navbar-background-color);
  border-radius: 5px;
  color: var(--text-light-color);
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 20px;
  text-decoration: none;
}

.recipe-category {
  font-weight: 200;
  font-style: italic;
}

.recipes {
  background-color: var(--background-light-color);
}

.recipes h1 {
  color: var(--text-dark-color);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  padding: 10px;
}

.favorites {
  display: none;
}

.all-recipes {
  background-color: var(--background-light-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  grid-gap: 15px;
  padding: 10px;
}

.all-recipe-card {
  max-width: 150px;
  background-color: #FFFFFF;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
}

.all-recipe-card img {
  width: 100%;
}

.all-recipe-card a {
  background-color: var(--navbar-background-color);
  border-radius: 5px;
  color: var(--text-light-color);
  display: block;
  font-size: 14px;
  font-weight: 400;
  padding: 10px 20px;
  text-decoration: none;
}

.recipe-details {
  display: flex;
  flex-direction: row;
  background-color: var(--background-light-color);
  padding: 20px;
}

.details-first,
.details-second {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 390px;
  padding: 5px;
}

.details-second {
  align-items: center;
}

.details-photo img {
  width: 100%;
  scale: 1;
  margin-bottom: 10px;
}

.details-desc {

}

.details-desc h2 {
  margin-bottom: 10px;
  text-align: center;
}

.details-steps h2 {
  margin-bottom: 10px;
}

.about-us {
  background-color: var(--background-light-color);
  padding: 30px;
}

.favorite-button {
  position: absolute;
  background: transparent;
  border: none;
  color: var(--text-light-color);
  font-size: 24px;
  cursor: pointer;
}

.about-us h1 {
  font-size: 30px;
}

.about-us p {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-dark-color);
  margin: 15px 0;
}

.about-us strong {
  font-weight: bold;
}

.login-wrapper {
  height: 80vh;
  width: 100%;
}

form {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  width: 300px;
  margin: 0 auto;
}

form h1 {
  margin-top: 0;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 10px;
}

.input-field {
  width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}

.submit-button {
  background-color: #4CAF50;
  color: var(--text-light-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.submit-button:hover {
  background-color: #3e8e41;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background-light-color);
}

.contact h1 {
  color: var(--text-dark-color);
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  padding: 10px;
}

.contact-form {
  max-width: 400px;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form div {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-error {
  border: red;
}

.contact-success {
  font-size: 20px;
  font-weight: 400;
  background-color: #50C878;
  border-radius: 15px;
  padding: 10px;
  display: none;
}

.footer-container {
  width: 100%;
  display: flex;
  background-color: var(--background-light-color);
  padding: 20px 0;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;

}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 15px;
}

.footer-col {
  flex-basis: 50%;
  text-align: right;
  font-size: 16px;
}

.footer-col:first-child {
  text-align: right;
}

.footer-nav {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-nav li {
  margin-bottom: 10px;
}

.footer-nav a {
  color: var(--text-dark-color);
  font-weight: 400;
}

@media (max-width: 740px) {
  .menu, .action {
    display: none;
  }

  .mobile-menu-button {
    display: block;
  }

  .recipe-grid {
    grid-template-columns: repeat(1, 1fr);
  }

  .recipe-details {
    flex-direction: column;
    padding: 10px;
  }

  .details-first,
  .details-second {
    max-width: 100%;
    min-width: 390px;
  }

  .footer-col {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-col:first-child {
    text-align: center;
  }
}
